.cartao-poliedro {
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
}

.cartao-poliedro .cartao-topo {
    padding: 30px 40px 0;     /* aplicado no nome pikachu, raio e #001 */
}

.cartao-poliedro .nome {
    margin-bottom: 5px;
}

.cartao-poliedro .tipo {
    display: flex;
    font-size: 13px;
    background-color:#ffffff ;
    opacity: 0.8;
    border-radius: 15px;
    padding: 3px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  
}   

.cartao-poliedro #conteudo {   
    display: flex; 
}

.cartao-poliedro .detalhes {
    color:#ffffff ;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.cartao-poliedro .cartao-imagem {
    width: 350px;  /*tamanho */
    height: 350px;
    display: flex;
    justify-content:center; 
    margin-left: 55px;
}

.cartao-poliedro img {
    max-height: 100%;
}

.cartao-poliedro .cartao-informacoes {
    background-color: #ffffff;
    padding: 80px 30px 50px;
    margin-top: -70px;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius:8px ;
}

.cartao-poliedro .cartao-informacoes h3 {
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #6B727A;
}

.cartao-informacoes .status p {
    text-align:justify; 
}

.cartao-poliedro .cartao-informacoes .status, .cartao-poliedro .cartao-informacoes .habilidades {
    padding: 0 10px;
    width: 180px;
}

.cartao-poliedro .cartao-informacoes .habilidades ul li, .cartao-poliedro .cartao-informacoes .status ul li {
    border-bottom: 1px solid #C3C4C5;
    padding: 0 0 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

.cartao-poliedro.aberto {
    display: block;
}

.tipo-octa {
    background-color: #ED8A8B;
}

.tipo-tetra {
    background-color: #FCC719;
}

.tipo-dodeca {
    background-color: #76BEFE;
}

.tipo-hexa {
    background-color: #49D0B0;
}

.tipo-icosa {
    background-color: #BA68C8;
}

.tipo-inicio {
    background-color: #4f5255;
}