body {
    font-family: 'Poppins', sans-serif;  
} 

main {
    display: flex;
    min-height: 100 vh;
    align-items: center;
    justify-content: center;  
    background-color: #DADFE8;
    flex-wrap:  wrap-reverse ;
}

.solidos-platonicos {
    display: flex;
    gap: 10px;     
    padding: 30px 0;
    
}