.menubar {
    display:block;
    width:100%
}

.menubar li {display: inline;}
.menubar li a {
    display:inline-block;
    width:100px;
    height:20px;
    line-height:20px;
    text-align: center;
    text-decoration:none;
    color:black;
    opacity: 1;
    border-radius: 7px;
    font-weight: bold;
    margin: 15px;
}
.menubar li a:hover{background-color:#ece9e9;;}
.menubar li a.select {
    background-color:#AAAAAA;
    color:white;
    justify-content: center;
}    